
/mixicity/female/bracelet_output
/mixicity/female/ear_output
/mixicity/female/glasses_output
/mixicity/female/hat_output
/mixicity/female/mask_output
/mixicity/female/rig_output
/mixicity/female/scarf_output
/mixicity/female/shirts_output
/mixicity/female/watch_output

/mixicity/male/bracelet_output
/mixicity/male/ear_output
/mixicity/male/glasses_output
/mixicity/male/hat_output
/mixicity/male/mask_output
/mixicity/male/rig_output
/mixicity/male/scarf_output
/mixicity/male/shirts_output
/mixicity/male/watch_output